	<div class="fadeIn jumbotron text-center section">
		<h2 class=""> Welcome To The</h2>
		<h2 class=""> Official Band Website Of</h2>
		<h1 id="logo">
		</h1>
	</div>
<div class="col-md-12 section hideIt" id="demosSection">
<div class="col-md-offset-1" id="grid-containter">
        <div id="guitar" class="col-sm-4 card-grid">
        	<div class="front"><h3>Guitar</h3></div>
          <div class="back">Back</div>
        </div>
        <div id="bass" class="col-sm-4 card-grid">
          <div class="front">Bass</div>
          <div class="back">Back</div>
        </div>
        <div id="keys" class="col-sm-4 card-grid">
          <div class="front">Keys</div>
          <div class="back">Back</div>
        </div>
        <div id="drums" class="col-sm-4 card-grid">
          <div class="front">Drums</div>
          <div class="back">Back</div>
        </div>
      </div>
    </div>
</div>
	<div class="section hideIt jumbotron" id="bandHistorySection">
		<h2 class="text-center pink">Band History</h2>
	</div>
	<div class="section hideIt jumbotron" id="membersSection">
		<h2 class="text-center pink">Members </h2>
	</div>
	<div class="section hideIt jumbotron" id="contactUsSection">
		<h2 class="text-center pink">Contact Us </h2>
	</div>