
<div class="col-md-12 container-fluid">
	<div class="fadeIn jumbotron text-center section">
		<h2 class=""> Welcome To The</h2>
		<h2 class=""> Official Band Website Of</h2>
		<h1 id="logo">
		</h1>
	</div>
	<div class="col-md-12 section hideIt" id="demosSection">
		<audio id="myTune">
		  <source src="/assets/music/niceDayInsideBeta.mp3">
		</audio>
		<button class="btn btn-lg btn-default" onclick="document.getElementById('myTune').play()"><span class="glyphicon glyphicon-play"> </button>
		<button class="btn btn-lg btn-default" onclick="document.getElementById('myTune').pause()"><span class="
glyphicon glyphicon-pause"> </button>
		<button  class="btn btn-lg btn-default" onclick="document.getElementById('myTune').pause(); document.getElementById('myTune').currentTime = 0;"><span class="
glyphicon glyphicon-stop"></button>
		
	</div>
	<div class="section hideIt jumbotron" id="bandHistorySection">
		<h2 class="text-center pink">Band History</h2>
		<br>
		<div class="col-md-6 text-center col-md-offset-3">
			<p><span class="pink">Liberty Vice</span> is made up of four childhood enemies who became best friends after discovering shared interests in violent video games and music. Jamming in basements, apartments, and anyplace that is wiling to risk a noise violation tickets, <span class="pink">Liberty Vice</span> is working on their upcoming full length LP.</p>
		</div>
	</div>
	<div class="section col-md-12 text-center hideIt jumbotron" id="membersSection">
		<h2 class="text-center pink">Members </h2>
		<div class="row">
		<div class="col-md-6">
			<h3 class="name">Hank DeHanko </h3>
			<h4 class="instrument">Keys </h4>
			<p>The only member of the group with any musical training, Hank spends his time playing making strange and terrible noises on a his various synthesizers. </p>
		</div>
		<div class="col-md-6">
			<h3 class="name">Dynamite Lee </h3>
			<h4 class="instrument">Bass</h4>
			<p>Unable to learn a real instrument, Dynamite has played bass for many years. His bass of choice is a Rickenbacker 4003.</p>
		</div>
		</div>
		<div class="col-md-6">
			<h3 class="name">Randy Lahey </h3>
			<h4 class="instrument">Guitar </h4>
			<p>Writer of all the band’s material. Uses a Fender Strat. Idolizes Johnny Ramone.</p>
		</div>
		<div class="col-md-6">
			<h3 class="name">Joey Spaggetti </h3>
			<h4 class="instrument">Drums </h4>
			<p>Hailing from Canada, Joey likes to play drums so much, he often programs them for recording purposes so he can spend more time jamming to Iron Maiden and Rush.
			</p>
		</div>
	</div>
	<div class="section hideIt jumbotron" id="contactUsSection">
		<h2 class="text-center pink">Contact Us </h2>
	</div>
</div>