



h2, h1{
  color:white;
}

.navbar{
  background: rgba(25, 25, 25, .5);
  color: white;
  border:2px solid #D7FFFE;
  min-height: 70px;
  opacity:0;
}

#navLogo{
  font-family: 'Audiowide', cursive;
  color:#27FDF5;
}


.hideIt{
  display: none
}

#logo, .pink { 
  font-family: 'Audiowide', cursive;
  color:#F765B8;
}

.pink{
  margin-top: 0px;
}


body{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
 url("../img/beach.jpg");
}


.jumbotron{
    background: rgba(25, 25, 25, .5);
    color: white;
    min-height: 330px;
    margin-top:50px;

}

#membersSection{
  margin-top: 20px;
  margin-bottom:0px;
  padding-top: 20px
  
}

.instrument{
  color:#D7FFFE;
}

#bandHistorySection{
  min-height: 400px;
  margin-top: 20px;
  margin-bottom:20px;

}
.title {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

p{
	color:white;
}


.customPanel{
  border:2px;
}

.navbar-default .navbar-nav>li>a{
  color:#A8F6F8;
}



.name{
  color:#F98DC9;
}

.right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-200px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-200px;opacity:0} to{right:0;opacity:1}}
.fadeIn{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}}

.bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0;opacity:1}}
